<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>

<%- messages() %>
<% if (errors) { %>
<ul class="notice">
<% errors.array().forEach(error => { %>
 <li><%= error.msg %></li>
<%  }) %>
</ul>
<% } %>

<%# Registration View %>

<!-- <label for="registerForm">Register</label> -->
<div id="accEditDiv">
  <label id="accEditFormLabel" for="accountEditForm"><h3>Edit account information</h3></label>
  <form action="/account/edit" method="post" class="accountSysStyle" id="accountEditForm" name="accountEditForm">
    <label for="account_firstname">First Name:</label><br>
    <input class="reqInput" type="text" name="account_firstname" required value=<%- account_firstname %>><br><br>
    <label for="account_lastname">Last Name:</label><br>
    <input class="reqInput" type="text" name="account_lastname" required value=<%- locals.account_lastname %> ><br><br>
    <label for="account_email">Email:</label><br>
    <input class="reqInput" type="email" name="account_email" required value=<%- locals.account_email %> ><br><br>
    <input class="logSubmitButton" type="submit" name="registerForm" value="Submit">
    <input type="hidden" name="account_id"
<% if(locals.account_id) { %> value="<%= locals.account_id %>"
<% } %>>
  </form><br>

  <form action="/account/edit-password" method="post" class="accountSysStyle" id="accountEditFormPass" name="accountEditForm">
    <label for="account_password">Password:</label><br>
    
    <input class="reqInput" type="password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"><br>
    <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span> 
    <input class="logSubmitButton" type="submit" name="registerForm" value="Submit">
    <input type="hidden" name="account_id"
    <% if(locals.account_id) { %> value="<%= locals.account_id %>"
    <% } %>>
  </form>
</div>
