<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>


<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form action="/inv/update" method="post" id="updateForm" name="invEditForm">
    <label for="classification_id">Classification</label>
    <%- classificationSelect %><br>
    <label for="inv_make">Make</label>
    <input class="reqInput" type="text" name="inv_make" required value="<%= locals.inv_make %>"><br>
    <label for="inv_model">Model</label>
    <input class="reqInput" type="text" name="inv_model" required value="<%= locals.inv_model %>"><br>
    <label for="inv_year">Year</label>
    <input class="reqInput" type="text" name="inv_year" required value="<%= locals.inv_year %>"><br>
    <label for="inv_description">Description</label>
    <textarea class="reqInput" rows="10" cols="30" name="inv_description" required><%= locals.inv_description %></textarea><br>
    <label for="inv_image">Image</label>
    <input class="reqInput" type="text" name="inv_image" required value="<%= locals.inv_image %>"><br>
    <label for="inv_thumbnail">Thumbnail</label>
    <input class="reqInput" type="text" name="inv_thumbnail" required value="<%= locals.inv_thumbnail %>"><br>
    <label for="inv_price">Price</label>
    <input class="reqInput" type="text" name="inv_price" required pattern="^-?\d+(\.\d+)?$" value="<%= locals.inv_price %>"><br>
    <label for="inv_miles">Miles</label>
    <input class="reqInput" type="text" name="inv_miles" required pattern="^-?\d+$" value="<%= locals.inv_miles %>"><br>
    <label for="inv_color">Color</label>
    <input class="reqInput" type="text" name="inv_color" required value="<%= locals.inv_color %>"><br>
    <input id="logSubmitButton" type="submit" name="invEditForm" value="Update Vehicle" disabled>
    <input type="hidden" name="inv_id"
<% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
<% } %>>
<script src="../../js/inv-update.js"></script>
</form>